@import "variables";

@font-face {
  font-family: "ptsans";
  src: url("#{$f-path}/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Notification";
  src: url("#{$f-path}/notification.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
